<ion-view>
  <ion-nav-title>POI</ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-settings" ng-click="openModal()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="map-holder">
      <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyDZn-E0ljgIlanI1jaHgFup9XnlSlPbQkc&libraries=visualization,drawing,geometry,places">
        <ng-map zoom="{{map.zoom}}" center="[{{map.center.lat}}, {{map.center.lng}}]">
          <marker ng-repeat="poi in pois" icon="{{poi.options.icon}}" position="{{poi.pos}}" data="{{poi.locID}}" on-click="showAtm(poi)"
            title="{{poi.cleansedMerchantName}}"></marker>
        </ng-map>
      </div>
    </div>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="poi in pois" type="item-text-wrap" href="#/tab/geo/{{$index}}">
        <h2>{{$index + 1}}. {{poi.cleansedMerchantName}}</h2>
        <p>{{poi.cleansedStreetAddr}} {{poi.cleansedCityName}} {{poi.cleansedStateProvidenceCode}} {{poi.cleansedPostalCode}}
          {{poi.cleansedCountryCode}}
        </p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>